# URL da API
VITE_API_URL=

# Configurações da aplicação
APP_CONTAINER_NAME=
APP_PORT=
APP_PORT_EXTERNAL=

# Healthcheck da aplicação
APP_HEALTHCHECK_INTERVAL=
APP_HEALTHCHECK_TIMEOUT=
APP_HEALTHCHECK_RETRIES=
APP_HEALTHCHECK_START_PERIOD=

# Limites de recursos da aplicação
APP_CPU_LIMIT=
APP_MEMORY_LIMIT=

# Configurações de rede
NETWORK_NAME=
NETWORK_EXTERNAL=
